@font-face {
  font-family: 'Segoe Pro Semibold';
  src: url(font/SegoePro-Semibold.woff);
}

@font-face {
  font-family: 'Segoe Pro Bold';
  src: url(font/SegoePro-Bold.woff);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hide {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe Pro Semibold";
  background-repeat: no-repeat;
  background-size: 650px;
  background-color: #fff;
  background-image: url(images/circle2.svg), url(images/circle3.svg);
  background-position: top right, bottom left;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav-mobile div a {
  color: #fff;
}

nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

nav div {
  margin-top: auto;
  margin-bottom: auto;
}

nav .nav-left a {
  width: 150px;
  height: 50px;
  display: block;
  background-image: url(images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

nav .nav-right-mobile {
  display: none;
}

nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right a {
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 1.5rem;
  color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  padding-bottom: 5px;
}

nav .nav-right a:hover {
  -webkit-box-shadow: inset 0px -86px 0px -84px white;
          box-shadow: inset 0px -86px 0px -84px white;
}

nav .nav-right .client {
  border: 2px solid #fff;
  border-radius: 13px;
  padding: 13px 25px;
}

nav .nav-right .client:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-content .landing-left {
  width: 50%;
  margin-right: auto;
}

.landing-content .landing-left h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #F02928;
  font-family: "Segoe Pro Bold";
  margin-bottom: 0.5rem;
}

.landing-content .landing-left p {
  font-size: 2rem;
  color: #1C314D;
  line-height: 3rem;
}

.landing-content .landing-left h3 {
  margin-top: 1rem;
  color: #1C314D;
  line-height: 2rem;
}

.landing-content .landing-left div {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-content .landing-left div .button {
  text-decoration: none;
  border-radius: 13px;
  padding: 13px 25px;
  background-color: #1C314D;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-box-shadow: 2px 5px 7px #d8d8d860;
          box-shadow: 2px 5px 7px #d8d8d860;
}

.landing-content .landing-left div .button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.landing-content .landing-left div .button:first-of-type {
  margin-right: 2rem;
  background-color: #F02928;
}

.landing-content .landing-right {
  width: 40%;
}

.landing-content .landing-right div {
  width: 19rem;
  height: 32rem;
  background-color: #F3F4FA;
  border-radius: 24px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(images/screen123.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-top: 10px solid #EFEFEF;
  padding-bottom: 35px;
}

.info-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-row div {
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.info-row div h3 {
  font-family: "Segoe Pro Bold";
  text-transform: uppercase;
  font-size: 1rem;
  color: #9EAFC4;
  margin-bottom: 0.8rem;
}

.info-row div p {
  font-size: 1.2rem;
  color: #1C314D;
  line-height: 2rem;
}

.info-row div:nth-of-type(1) {
  background-image: url(images/discountrow.svg);
}

.info-row div:nth-of-type(2) {
  background-image: url(images/fuelrow.svg);
}

.info-row div:nth-of-type(3) {
  background-image: url(images/inforow.svg);
}

.start-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
}

.start-row h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #F02928;
}

.start-row .slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-row .slider-wrap div {
  width: 20%;
}

.start-row .slider-wrap div p {
  margin-top: 1.5rem;
  color: #9EAFC4;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  font-family: "Segoe Pro Semibold";
  line-height: 1.8rem;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.map-content {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-image: url(images/map/map1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.map-content .map-left {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-content .map-left img:nth-of-type(1) {
  margin-top: -4rem;
  margin-left: 10rem;
}

.map-content .map-left img:nth-of-type(2) {
  margin-top: -2rem;
  margin-left: 29rem;
}

.map-content .map-left img:nth-of-type(3) {
  margin-top: -3rem;
  margin-left: 2rem;
}

.map-content .map-left img:nth-of-type(4) {
  margin-top: 0rem;
  margin-left: 10rem;
}

.map-content .map-left img:nth-of-type(5) {
  margin-top: 2rem;
  margin-left: 0rem;
}

.map-content .map-left img:nth-of-type(6) {
  margin-top: -4rem;
  margin-left: 18rem;
}

.map-content .map-left img:nth-of-type(7) {
  margin-top: -4rem;
  margin-left: 28rem;
}

.map-content .map-right {
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}

.map-content .map-right h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #F02928;
}

.map-content .map-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.map-content .map-right div p {
  color: #1C314D;
  font-size: 1.3rem;
  font-family: "Segoe Pro Bold";
  letter-spacing: 0.3px;
  margin-left: 1.2rem;
}

.advantages-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.advantages-content div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.advantages-content div:nth-of-type(1) img {
  width: 2rem;
  height: 1.8rem;
  margin-right: 1.5rem;
}

.advantages-content div:nth-of-type(1) h2 {
  color: #F02928;
  font-size: 2.2rem;
  font-family: "Segoe Pro Bold";
}

.advantages-content div:nth-of-type(2) {
  margin-left: 3.5rem;
}

.advantages-content div:nth-of-type(2) span {
  font-size: 1.5rem;
  color: #9EAFC4;
}

.advantages-content div:nth-of-type(2) p {
  font-size: 2rem;
  line-height: 3.5rem;
}

.advantages-content div:nth-of-type(2) p:nth-of-type(1) {
  margin-top: 0.8rem;
}

.advantages-content div:nth-of-type(2) p:nth-of-type(8) {
  margin-bottom: 0.8rem;
}

.partners-content {
  margin-top: 12rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.partners-content h2 {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  color: #1C314D;
  text-align: center;
}

.partners-content .divider {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  border-radius: 50px;
  height: 5px;
  width: 6rem;
  background: #9EAFC4;
}

.partners-content .partners-row {
  width: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.partners-content .partners-row img {
  margin: 2rem;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.partners-content .partners-row img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.download-content {
  margin-top: 12rem;
  width: 90%;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download-content .download-left {
  width: 40%;
}

.download-content .download-left div {
  width: 19rem;
  height: 32rem;
  background-color: #F3F4FA;
  border-radius: 24px;
  margin-right: auto;
  margin-left: auto;
  background-image: url(images/screen2.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 25% 90%;
  padding-bottom: 35px;
}

.download-content .download-right {
  width: 50%;
  margin-left: auto;
}

.download-content .download-right h2 {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  color: #1C314D;
}

.download-content .download-right p {
  color: #9EAFC4;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.download-content .download-right span {
  margin-top: 2rem;
  color: #F02928;
  font-size: 2rem;
}

.footer {
  width: 80%;
  margin-left: 3rem;
  color: #9EAFC4;
  font-size: 0.6rem;
  text-align: right;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.footer a {
  text-decoration: underline;
  color: #1C314D;
  cursor: pointer;
}

@media (min-width: 2000px) {
  body {
    background-size: 750px;
  }
}

@media (max-width: 1224px) {
  body {
    background-size: 400px;
  }
  .nav-mobile {
    width: 100vw;
    height: 100vh;
    background: #1C314D;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav-mobile div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3rem;
  }
  .nav-mobile div a {
    margin: 1rem;
    text-decoration: none;
    color: #fff;
  }
  nav .nav-right-mobile {
    display: block;
    z-index: 999;
  }
  nav .nav-right-mobile .burger {
    width: 30px;
    height: 30px;
    background-image: url(images/burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  nav .nav-right {
    display: none;
  }
  .landing-content .landing-left {
    width: 70%;
  }
  .landing-content .landing-left h2 {
    font-size: 0.9rem;
  }
  .landing-content .landing-left p {
    font-size: 1.9rem;
  }
  .landing-content .landing-left div .button {
    font-size: 0.9rem;
  }
  .landing-content .landing-right {
    width: 30%;
  }
  .landing-content .landing-right div {
    width: 15rem;
    height: 25rem;
    background-position: center;
    background-size: contain;
    padding: none;
    border: none;
  }
  .map-content .map-left img:nth-of-type(1) {
    margin-top: -4rem;
    margin-left: 10rem;
  }
  .map-content .map-left img:nth-of-type(2) {
    margin-top: -2rem;
    margin-left: 21rem;
  }
  .map-content .map-left img:nth-of-type(3) {
    margin-top: -3rem;
    margin-left: 2rem;
  }
  .map-content .map-left img:nth-of-type(4) {
    margin-top: 0rem;
    margin-left: 10rem;
  }
  .map-content .map-left img:nth-of-type(5) {
    margin-top: 2rem;
    margin-left: 0rem;
  }
  .map-content .map-left img:nth-of-type(6) {
    margin-top: -4rem;
    margin-left: 18rem;
  }
  .map-content .map-left img:nth-of-type(7) {
    margin-top: -4rem;
    margin-left: 8rem;
  }
  .map-content .map-right {
    width: 40%;
    margin-left: auto;
  }
  .map-content .map-right h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #F02928;
  }
  .map-content .map-right div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 2rem;
  }
  .map-content .map-right div p {
    color: #1C314D;
    font-size: 1.3rem;
    font-family: "Segoe Pro Bold";
    letter-spacing: 0.3px;
    margin-left: 1.2rem;
  }
  .partners-content .partners-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-content .partners-row img {
    margin-top: 1rem;
  }
}

@media (max-width: 992px) {
  body {
    background-size: 300px, 330px;
  }
  .nav-mobile div {
    font-size: 2.3rem;
  }
  .landing-content .landing-left {
    width: 50%;
  }
  .landing-content .landing-left h2 {
    font-size: 0.7rem;
  }
  .landing-content .landing-left p {
    margin-top: 0.7rem;
    font-size: 1.5rem;
    line-height: 2.2rem;
  }
  .landing-content .landing-left h3 {
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .landing-content .landing-left div {
    margin-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-content .landing-left div .button {
    margin-top: 1.5rem;
    padding: 0;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
  }
  .landing-content .landing-right {
    width: 50%;
  }
  .landing-content .landing-right div {
    width: 15rem;
    height: 28rem;
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  .start-row h2 {
    font-size: 3rem;
  }
  .map-content {
    width: 80%;
    background: none;
  }
  .map-content .map-left img {
    width: 90px;
    height: 90px;
  }
  .map-content .map-left img:nth-of-type(1) {
    margin-top: -4rem;
    margin-left: 8rem;
  }
  .map-content .map-left img:nth-of-type(2) {
    margin-top: -2rem;
    margin-left: 16rem;
  }
  .map-content .map-left img:nth-of-type(3) {
    margin-top: -3rem;
    margin-left: 1rem;
  }
  .map-content .map-left img:nth-of-type(4) {
    margin-top: 0rem;
    margin-left: 10rem;
  }
  .map-content .map-left img:nth-of-type(5) {
    margin-top: 2rem;
    margin-left: 0rem;
  }
  .map-content .map-left img:nth-of-type(6) {
    margin-top: -4rem;
    margin-left: 14rem;
  }
  .map-content .map-left img:nth-of-type(7) {
    margin-top: -4rem;
    margin-left: 7rem;
  }
  .advantages-content div:nth-of-type(1) img {
    width: 1.8rem;
    height: 1.8rem;
  }
  .advantages-content div:nth-of-type(1) h2 {
    color: #F02928;
    font-size: 2rem;
    font-family: "Segoe Pro Bold";
  }
  .advantages-content div:nth-of-type(2) {
    margin-left: 3.5rem;
  }
  .advantages-content div:nth-of-type(2) span {
    font-size: 1.5rem;
    color: #9EAFC4;
  }
  .advantages-content div:nth-of-type(2) p {
    margin-top: 2rem;
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .partners-content h2 {
    font-size: 3rem;
  }
}

@media (max-width: 768px) {
  body {
    background-size: 200px, 900px;
    background-position: top right, bottom left;
  }
  .nav-mobile div {
    font-size: 2rem;
  }
  .landing-content .landing-left {
    margin-top: 0rem;
    width: 70%;
  }
  .landing-content .landing-left h2 {
    font-size: 1rem;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .landing-content .landing-left p {
    font-size: 2rem;
    line-height: 2.8rem;
  }
  .landing-content .landing-left h3 {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 10rem;
  }
  .landing-content .landing-left div {
    margin-top: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-content .landing-left div .button {
    margin-top: 1.5rem;
    padding: 0;
    width: 300px;
    height: 60px;
    font-size: 1.4rem;
    text-align: center;
    line-height: 60px;
  }
  .landing-content .landing-right {
    width: 20%;
  }
  .landing-content .landing-right div {
    margin-top: 10rem;
    width: 16rem;
    height: 28rem;
    z-index: -5;
  }
  .info-row {
    margin-top: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .info-row div {
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    margin-top: 4rem;
  }
  .info-row div h5 {
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .info-row div p {
    font-size: 2rem;
    line-height: 3rem;
  }
  .info-row div:nth-of-type(1) {
    background-image: url(images/discountrow.svg);
  }
  .info-row div:nth-of-type(2) {
    background-image: url(images/fuelrow.svg);
  }
  .info-row div:nth-of-type(3) {
    background-image: url(images/inforow.svg);
  }
  .start-row {
    margin-top: 13rem;
  }
  .start-row h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: #F02928;
  }
  .start-row .slider-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start-row .slider-wrap div {
    width: 100%;
    text-align: center;
    margin-top: 6rem;
  }
  .start-row .slider-wrap div p {
    margin-top: 1.5rem;
    font-size: 2rem;
    line-height: 3rem;
  }
  .map-content {
    margin-top: 13rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map-content .map-left {
    display: none;
  }
  .map-content .map-right {
    width: 100%;
  }
  .map-content .map-right h2 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    color: #F02928;
  }
  .map-content .map-right div {
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .map-content .map-right div img {
    margin-right: auto;
    width: 6rem;
  }
  .map-content .map-right div p {
    margin-right: auto;
    color: #1C314D;
    font-size: 1.6rem;
    font-family: "Segoe Pro Bold";
    letter-spacing: 0.3px;
    margin-left: 2px;
    width: 60%;
    margin-top: 1rem;
  }
  .map-content .map-right div:nth-child(odd) {
    margin-left: auto;
  }
  .map-content .map-right div:nth-child(odd) img {
    margin-right: 0;
    margin-left: auto;
  }
  .map-content .map-right div:nth-child(odd) p {
    margin-right: 2px;
    margin-left: auto;
    text-align: right;
  }
  .advantages-content div:nth-of-type(1) img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1.5rem;
  }
  .advantages-content div:nth-of-type(1) h2 {
    font-size: 2rem;
  }
  .advantages-content div:nth-of-type(2) {
    margin-left: 0;
  }
  .advantages-content div:nth-of-type(2) span {
    font-size: 1.3rem;
  }
  .advantages-content div:nth-of-type(2) p {
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 1.5rem;
  }
  .partners-content {
    margin-top: 12rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .partners-content h2 {
    font-size: 3rem;
  }
  .partners-content .partners-row {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-content .partners-row img {
    margin-top: 2rem;
    width: 170px;
    height: 170px;
  }
  .download-content .download-left div {
    width: 16rem;
    height: 28rem;
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  .download-content .download-right h2 {
    font-size: 2.7rem;
    margin-bottom: 4rem;
    color: #fff;
  }
  .download-content .download-right p {
    color: #9EAFC4;
    font-size: 1.4rem;
    margin-bottom: 2rem;
  }
  .footer a {
    color: #9EAFC4;
  }
}

@media (max-width: 420px) {
  body {
    background-size: 120px, 550px;
  }
  .nav-left a {
    max-width: 120px;
  }
  .nav-mobile div {
    font-size: 1.5rem;
  }
  .landing-content .landing-left {
    width: 40%;
  }
  .landing-content .landing-left h2 {
    margin-top: 1rem;
    font-size: 0.6rem;
  }
  .landing-content .landing-left p {
    font-size: 1rem;
    line-height: 1.4rem;
    width: 200%;
    z-index: 5;
  }
  .landing-content .landing-left h3 {
    margin-top: 6rem;
    width: 160%;
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .landing-content .landing-left div {
    margin-top: 0rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .landing-content .landing-left div .button {
    margin-top: 1rem;
    padding: 0;
    width: 200px;
    height: 50px;
    font-size: 1rem;
    text-align: center;
    line-height: 50px;
    z-index: 5;
  }
  .landing-content .landing-right {
    width: 40%;
  }
  .landing-content .landing-right div {
    width: 10rem;
    height: 18rem;
    margin-top: 7rem;
    margin-right: -4rem;
    z-index: -3;
  }
  .info-row div {
    margin-top: 3rem;
  }
  .info-row div h5 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
  }
  .info-row div p {
    font-size: 1.3rem;
    line-height: 2rem;
  }
  .start-row h2 {
    font-size: 1.4rem;
    margin-bottom: 0rem;
    color: #F02928;
  }
  .start-row .slider-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .start-row .slider-wrap div {
    margin-top: 5rem;
  }
  .start-row .slider-wrap div p {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .map-content {
    margin-top: 10rem;
    width: 80%;
    background: none;
  }
  .map-content .map-left {
    display: none;
  }
  .map-content .map-right {
    width: 100%;
  }
  .map-content .map-right h2 {
    font-size: 2rem;
    margin-bottom: 0rem;
  }
  .map-content .map-right div {
    margin-top: 4rem;
  }
  .map-content .map-right div img {
    width: 4rem;
  }
  .map-content .map-right div p {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 1rem;
  }
  .advantages-content div:nth-of-type(1) img {
    width: 1rem;
    height: 1rem;
    margin-right: 0.8rem;
  }
  .advantages-content div:nth-of-type(1) h2 {
    font-size: 1.2rem;
  }
  .advantages-content div:nth-of-type(2) {
    margin-left: 0;
  }
  .advantages-content div:nth-of-type(2) span {
    font-size: 1rem;
  }
  .advantages-content div:nth-of-type(2) p {
    font-size: 1.2rem;
    line-height: 1.7rem;
    margin-top: 1.5rem;
  }
  .partners-content {
    margin-top: 8rem;
  }
  .partners-content h2 {
    width: 100%;
    font-size: 1.3rem;
  }
  .partners-content .divider {
    height: 4px;
    margin-bottom: 1rem;
  }
  .partners-content .partners-row {
    width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .partners-content .partners-row img {
    margin-top: 1rem;
    width: 70px;
    height: 70px;
  }
  .download-content {
    margin-top: 10rem;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .download-content .download-left {
    width: 40%;
  }
  .download-content .download-left div {
    width: 10rem;
    height: 18rem;
    margin-left: -5rem;
  }
  .download-content .download-right {
    width: 60%;
    margin-left: auto;
  }
  .download-content .download-right h2 {
    font-size: 1.6rem;
    margin-bottom: 3rem;
    margin-top: -4rem;
    margin-left: -3rem;
    color: #fff;
    width: 120%;
  }
  .download-content .download-right p {
    color: #9EAFC4;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  .download-content .download-right span {
    margin-top: 2rem;
    color: #F02928;
    font-size: 1.5rem;
  }
  .footer {
    width: 100%;
    margin-left: -1rem;
    color: #9EAFC4;
    font-size: 0.5rem;
    text-align: right;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
}
/*# sourceMappingURL=style.css.map */