@font-face {
  font-family: 'Segoe Pro Semibold';
  src: url(font/SegoePro-Semibold.woff);
}

@font-face {
  font-family: 'Segoe Pro Bold';
  src: url(font/SegoePro-Bold.woff);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.hide {
  display: none;
}

* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "Segoe Pro Semibold";
  background-repeat: no-repeat;
  background-size: 650px;
  background-image: url(images/circle2.svg), url(images/circle3.svg);
  background-position: top right, bottom left;
}

.nav-mobile {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-mobile div a {
  color: #fff;
}

nav {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  height: 5rem;
}

nav div {
  margin-top: auto;
  margin-bottom: auto;
}

nav .nav-left a {
  width: 150px;
  height: 50px;
  display: block;
  background-image: url(images/logo.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

nav .nav-right-mobile {
  display: none;
}

nav .nav-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .nav-right a {
  font-size: 1.2rem;
  text-decoration: none;
  margin-left: 1.5rem;
  color: #fff;
  -webkit-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
  padding-bottom: 5px;
}

nav .nav-right a:hover {
  -webkit-box-shadow: inset 0px -86px 0px -84px white;
          box-shadow: inset 0px -86px 0px -84px white;
}

nav .nav-right .client {
  border: 2px solid #fff;
  border-radius: 13px;
  padding: 13px 25px;
}

nav .nav-right .client:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.landing-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-content .landing-left {
  width: 50%;
  margin-right: auto;
}

.landing-content .landing-left h2 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #F02928;
  font-family: "Segoe Pro Bold";
}

.landing-content .landing-left p {
  font-size: 2rem;
  color: #1C314D;
  line-height: 3rem;
}

.landing-content .landing-left h3 {
  margin-top: 1rem;
  color: #1C314D;
  line-height: 2rem;
}

.landing-content .landing-left div {
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.landing-content .landing-left div .button {
  text-decoration: none;
  border-radius: 13px;
  padding: 13px 25px;
  background-color: #1C314D;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.landing-content .landing-left div .button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
}

.landing-content .landing-left div .button:first-of-type {
  margin-right: 2rem;
  background-color: #F02928;
}

.landing-content .landing-right {
  width: 40%;
}

.landing-content .landing-right div {
  width: 19rem;
  height: 32rem;
  background-color: #F3F4FA;
  border-radius: 24px;
  margin-right: auto;
  margin-left: auto;
}

.info-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info-row div {
  width: 30%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
}

.info-row div h5 {
  font-family: "Segoe Pro Bold";
  text-transform: uppercase;
  font-size: 1rem;
  color: #9EAFC4;
  margin-bottom: 0.8rem;
}

.info-row div p {
  font-size: 1.2rem;
  color: #1C314D;
  line-height: 2rem;
}

.info-row div:nth-of-type(1) {
  background-image: url(images/discountrow.svg);
}

.info-row div:nth-of-type(2) {
  background-image: url(images/fuelrow.svg);
}

.info-row div:nth-of-type(3) {
  background-image: url(images/inforow.svg);
}

.start-row {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
}

.start-row h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #F02928;
}

.start-row .slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.start-row .slider-wrap div {
  width: 20%;
}

.start-row .slider-wrap div p {
  margin-top: 1.5rem;
  color: #9EAFC4;
  font-size: 1.1rem;
  letter-spacing: 0.8px;
  font-family: "Segoe Pro Semibold";
  line-height: 1.8rem;
  -webkit-transition: 0.4s ease-in;
  transition: 0.4s ease-in;
}

.map-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.map-content .map-left {
  width: 40%;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.map-content .map-left img:nth-of-type(1) {
  margin-top: -4rem;
  margin-left: 10rem;
}

.map-content .map-left img:nth-of-type(2) {
  margin-top: -2rem;
  margin-left: 29rem;
}

.map-content .map-left img:nth-of-type(3) {
  margin-top: -3rem;
  margin-left: 2rem;
}

.map-content .map-left img:nth-of-type(4) {
  margin-top: 0rem;
  margin-left: 10rem;
}

.map-content .map-left img:nth-of-type(5) {
  margin-top: 2rem;
  margin-left: 0rem;
}

.map-content .map-left img:nth-of-type(6) {
  margin-top: -4rem;
  margin-left: 18rem;
}

.map-content .map-left img:nth-of-type(7) {
  margin-top: -4rem;
  margin-left: 32rem;
}

.map-content .map-right {
  width: 40%;
  margin-left: auto;
}

.map-content .map-right h2 {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #F02928;
}

.map-content .map-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 2rem;
}

.map-content .map-right div p {
  color: #1C314D;
  font-size: 1.3rem;
  font-family: "Segoe Pro Bold";
  letter-spacing: 0.3px;
  margin-left: 1.2rem;
}

.advantages-content {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10rem;
}

.advantages-content div:nth-of-type(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 5rem;
}

.advantages-content div:nth-of-type(1) img {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}

.advantages-content div:nth-of-type(1) h2 {
  color: #F02928;
  font-size: 2.2rem;
  font-family: "Segoe Pro Bold";
}

.advantages-content div:nth-of-type(2) {
  margin-left: 3.5rem;
}

.advantages-content div:nth-of-type(2) span {
  font-size: 1.5rem;
  color: #9EAFC4;
}

.advantages-content div:nth-of-type(2) p {
  font-size: 2rem;
  line-height: 3.5rem;
}

.advantages-content div:nth-of-type(2) p:nth-of-type(1) {
  margin-top: 0.8rem;
}

.advantages-content div:nth-of-type(2) p:nth-of-type(8) {
  margin-bottom: 0.8rem;
}

.partners-content {
  margin-top: 12rem;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.partners-content h2 {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  color: #1C314D;
  text-align: center;
}

.partners-content .divider {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
  border-radius: 50px;
  height: 5px;
  width: 6rem;
  background: #9EAFC4;
}

.partners-content .partners-row {
  width: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners-content .partners-row img {
  cursor: pointer;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.partners-content .partners-row img:hover {
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.download-content {
  margin-top: 12rem;
  width: 90%;
  margin-right: auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.download-content .download-left {
  width: 40%;
}

.download-content .download-left div {
  width: 19rem;
  height: 32rem;
  background-color: #F3F4FA;
  border-radius: 24px;
  margin-right: auto;
  margin-left: auto;
}

.download-content .download-right {
  width: 50%;
  margin-left: auto;
}

.download-content .download-right h2 {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
  color: #1C314D;
}

.download-content .download-right p {
  color: #9EAFC4;
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

.download-content .download-right span {
  margin-top: 2rem;
  color: #F02928;
  font-size: 2rem;
}

.download-content .download-right .footer {
  margin-left: 3rem;
  margin-top: 15rem;
  color: #1C314D;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  body {
    background-size: 400px;
  }
  .nav-mobile {
    width: 100vw;
    height: 100vh;
    background: #1C314D;
    position: absolute;
    top: 0;
    left: 0;
  }
  .nav-mobile div {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 3rem;
  }
  .nav-mobile div a {
    margin: 1rem;
    text-decoration: none;
    color: #fff;
  }
  nav .nav-right-mobile {
    display: block;
    z-index: 999;
  }
  nav .nav-right-mobile .burger {
    width: 30px;
    height: 30px;
    background-image: url(images/burger.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
  }
  nav .nav-right {
    display: none;
  }
}

@media (max-width: 992px) {
  body {
    background-size: 300px;
  }
  .nav-mobile div {
    font-size: 2.3rem;
  }
}

@media (max-width: 768px) {
  body {
    background-size: 200px;
  }
  .nav-mobile div {
    font-size: 2rem;
  }
}

@media (max-width: 320px) {
  body {
    background-size: 100px;
  }
  .nav-mobile div {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=style.css.map */